p {
        color: darksalmon;
}
div p {
        color: black;
        font-size: 22px;
}
ul {
        background-color: beige;
        list-style: none;
        border:  1px dashed black;
        padding-left: 30%;
    
}
 li {
        display: inline-block;
        display: inline-block;
        background-color: burlywood;
        border: 1px soild red;
        width: 100px;
        height: 100px;
        margin: 10px;
 }
 
 /* Classes start with a dot */

 .bw-10 {
    border-width: 10px;
 }

 .bc-blk {
     border-color: black;
 }

 .dot {
     border-style: dotted;
 }

 .bd-top-yw {
     border-top-color: yellow;
 }

 .bd-left-char {
     border-left-color: chartreuse;

 }
 .bd-right-ab{ 
     border-right-color: aliceblue;

 } 
 .bd-bt-sm{
    border-bottom-color: salmon;
 }