p {
        color: darksalmon;
}
div p {
        color: black;
        font-size: 22px;
}
ul {
        background-color: beige;
        list-style: none;
        border:  1px dashed black;
        padding-left: 30%;
    
}
 li {
        display: inline-block;
        display: inline-block;
        background-color: burlywood;
        border: 1px soild red;
        width: 100px;
        height: 100px;
        margin: 10px;
 }
 
 /* Classes start with a dot */
.lr-bx {
    background-color: blue;
    border: solid;
    border-color: blue;
    height: 30rem;
    width: 30rem;
    
    
    
    

}

.md-bx {
    background-color: red;
    border: solid;
    border-color: red;
    height: 20rem;
    width: 20rem;
    
    
}


.sm-bx {
background-color: yellow;
border: solid;
border-color: yellow;
height: 10rem;
width: 10rem;

    
}

.pd-z {
    padding: 5rem;

 }
.mg-c {
    margin: 25%;
}
 
